.van-button--round {
  border-radius: 999px !important;
}
.van-button--large {
  width: 130px !important;
  height: 50px !important;
}
.ccc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rca {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
page {
  height: 100%;
}

.page-y-center {
  position: relative;
  top: 30%;
  transform: translateY(-30%);
}
.mt-3 {
  margin-top: 30px;
}
.mt-5 {
  margin-top: 50px;
}