page {
  height: 100%;
  width: 100%;
}
.rac {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-around;
}
.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 100%;
  //border: 1px solid black;
}
.van-button--round {
  border-radius: 999px !important;
}
.van-button--large {
  width: 100px !important;
  height: 50px !important;
  margin: 10px 30px 10px 30px;
}
.statistic-main {
  width: 100%;
}
.rbc{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.ma-2{
  margin: 20px;
}