page {
  height: 100%;
}
.ccc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.van-button--round {
  border-radius: 999px !important;
}
.van-button--large {
  width: 130px !important;
  height: 50px !important;
}
.ma-3 {
  margin: 30px;
}
.rcc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.page-y-center {
  position: relative;
  top: 30%;
  transform: translateY(-30%);
}
.rca{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.ma-1{
  margin: 10px;
}
.rsc{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}